<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">

    </head>


    <body>
     <h3>ppm</h3>
     <img src="/render/ppm.svg" alt="PPM Data"/>
     <h3>humidity</h3>
     <img src="/render/hum.svg" alt="Humidity Data"/>
     <h3>temp</h3>
     <img src="/render/temp.svg" alt="Temp Data"/>

     <h3>ppm history</h3>
     <img src="/render/ppm_history.svg" alt="PPM Data"/>
     <h3>humidity history</h3>
     <img src="/render/hum_history.svg" alt="Humidity Data"/>
     <h3>temp history</h3>
     <img src="/render/temp_history.svg" alt="Temp Data"/>

    </body>
</html>
